@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    background:#dae3f3;   
    color: hsl(0, 0%, 81%); 
    
}
.hero{
    max-width: 144rem;
    margin: 1rem auto 0;
    
}
.grids{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    
}
.card{
    padding: 2.4rem 2rem;
    border-radius: 1.1rem;
}
.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.flex-img{
    width: 4rem;
    border-radius: 10rem;
    border: 2px solid #fff;
}
.flex-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.card .flex-id-name{
    font-size: 1.6rem;
    color: hsl(0, 0%, 81%);
    font-weight: 500;
}
.flex-id-ver{
    opacity: 70%;
}
.bold-paragraph{
    margin-bottom: 2.2rem;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #fff;
    line-height: 1.3;
    
}
.lite-pragraph{
    font-size: 1.8rem;
    line-height: 1.6;
}
.lite-pragraph.lite{
    margin-top: 5.8rem;
}
.card.daniel{
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%)  ;
    position: relative;
    z-index: 0;
}
svg{
    position: absolute;
    opacity: 40%;
    right: 13rem;
    
}
.card.patrick{
    grid-column: 2/4;
    background-color: hsl(219, 29%, 14%);
}
.card.kira{
    grid-column: 4/5;
    grid-row: -1/3;
    background-color: hsl(0, 0%, 100%) ;
}
.card.jonathan{
    background-color: hsl(217, 19%, 35%);
}
.card.harmon{
    background-color: hsl(0, 0%, 100%) ;
}
.card.harmon .card.kira ,.flex-id-name{
    color: #555;
}
.harmon .kira ,.bold-paragraph{
    color: #555;
}

.white{
    color: #fff;
}

@media (max-width:23em){
    html{
        font-size: 48%;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .hero{
        max-width: 40rem;
        margin: 2rem auto;
    }
    .grids{
        display: grid;
        grid-template-columns: 1fr;
        gap:3.2rem;

        
    }
    svg{
        right:3rem;
        top: 0;
    }
    .card{
        padding: 2.4rem 3.2rem;
    }
    .card.daniel{
        grid-column: 1;
       grid: 1/2;
    }
    .card.jonathan{
        grid-column: 1;
        grid-row: 2/3 ;
    }
    .card.kira{
        grid-column: 1;
        grid-row: 5/6;
    }
    .card.patrick{
        grid-column: 1;
        grid-row: 4/5;
        
    }
    .card.harmon{
        grid-row: 3/4;
    }
}